:root {
	// p = Primary
	--clr-p-100: hsl(12, 88%, 59%);
	--clr-p-200: hsl(228, 39%, 23%);
	--clr-p-300: hsl(228, 39%, 23%, 0.5);
	--clr-p-400: hsl(228, 19%, 13%);

	--clr-p-100-hf: hsl(12, 88%, 72%);

	// n = Neutral
	--clr-n-100: hsl(227, 12%, 61%);
	--clr-n-200: hsl(233, 12%, 13%);
	--clr-n-300: hsl(13, 100%, 96%);
	--clr-n-400: hsl(0, 0%, 98%);

	--clr-n-500: hsl(360, 100%, 100%);
	--clr-n-600: hsl(360, 100%, 0%);
}
